$background: #338763;
$yellow: #ffbb00;
$white: #fff;

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

.flower {
  position: relative;
  transform: translate3d(0, 0, 0);
  z-index: 2000;

  .flower__center {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background: $yellow;
    position: relative;
    z-index: 10;
    will-change: transform;
  }

  .flower__leaves {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    will-change: transform;
  }

  .flower__leaf {
    width: 70%;
    transform-origin: center bottom;
    position: absolute;
    will-change: transform;

    .flower__leaf-inner {
      transform-origin: center bottom;
      transform: scale(0);
      will-change: transform;
    }

    svg path {
      fill: $white;
    }
  }
}

// Social Media & centering
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  background: $background;

  .social-media {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    opacity: 0.85;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 1.25rem;

    a {
      display: inline-block;
      color: $white;

      &:not(:last-of-type) {
        margin-right: 0.5rem;
      }
    }

    &:hover {
      opacity: 1;
    }
  }
}
