@font-face {
  font-family: "SweetHipster";
  src: url("../assets/font/SweetHipster-PzlE.ttf");
}

.body {
  font-family: "Work Sans", sans-serif;
}
.loader-container {
  width: 100%;
  height: 100vh;
  background-color: #d28f40;
  position: fixed;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid;
  color: #fff;
  border-radius: 50%;
  border-top-color: transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

.welcome {
  width: 100%;
  height: 100vh;
  background-color: #d28f40;
  position: fixed;
  z-index: 1000;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-open {
  background-color: #f4eeed;
  color: #d28f40;
  border: none;
  border-radius: 100px;
}

.font1 {
  font-family: "Sacramento", cursive;
}

.navbar-brand {
  font-size: 50px;
}

.parallax {
  /* The image used */
  background-image: url("../assets/img/7.jpg");

  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.counter {
  margin-top: 220px;
}

.color1 {
  color: #d28f40 !important;
}

.color1-dark {
  color: #b6772e;
}

.color2 {
  color: #efd9d1;
}
.color3 {
  color: #f4eeed;
}
.bg1 {
  background-color: #d28f40;
}
.bg3 {
  background-color: #f4eeed;
}

.border-card {
  box-shadow: 0px 0px 1px #e6b175;
  transition: 1s;
}

.border-card:hover {
  box-shadow: 7px 7px 1px #e6b175;
  transition: 1s;
}

.bg1-dark {
  background-color: #b6772e;
}

.hello-body img {
  width: 30%;
}

@media (min-width: 992px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }
  .parallax .card {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 100px;
    width: 100px;
    height: 100px;
    font-size: smaller;
    color: white;
  }

  .hello-body img {
    width: 100%;
  }
  .hello-body {
    margin-top: 70px;
    margin-bottom: 100px;
  }
  .hello-body .name {
    min-height: 50px;
    margin-top: 20px;
  }
}

@media (max-width: 992px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
  .parallax .card {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 100px;
    width: 65px;
    height: 65px;
    font-size: smaller;
    color: white;
  }
  .fp-right {
    display: none;
  }

  .hello-body img {
    width: 50%;
  }
}
